.@{prefix}-tag {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid var(--fog-border-color);
  border-radius: 2px;
  background-color: var(--fog-background-color);

  &__close {
    font-size: 12px;
    margin-left: 4px;
    cursor: pointer;
  }
}
