.@{prefix}-tag {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  padding: 0 8px;
  display: inline-block;
  font-size: 0;
  line-height: 22px;
  border: 1px solid var(--fog-border-color);
  border-radius: 2px;
  background-color: var(--fog-background-color);

  &--closable {
    padding-right: 0;
  }

  &__text,
  &__close {
    display: inline-block;
    vertical-align: middle;
  }

  &__text {
    font-size: 14px;
  }

  &__close {
    padding: 0 8px 0 4px;
    user-select: none;
    cursor: pointer;
  }

  &__close-icon {
    vertical-align: middle;
  }
}
