.@{prefix}-input-number {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &__control {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--fog-border-color);
    transition: all 0.3s;
    opacity: 0;
  }

  &--focused &__control,
  &--entered &__control {
    opacity: 1;
  }

  &--keep-control &__control {
    opacity: 1;
  }

  &__control--border-right {
    border-right: 1px solid var(--fog-border-color);
  }

  &__control &__step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 15px;
    font-size: 10px;
    transition: border-color 0.3s;
    cursor: pointer;

    &:first-child {
      border-bottom: 0.5px solid var(--fog-border-color);
    }

    &:last-child {
      border-top: 0.5px solid var(--fog-border-color);
    }
  }
}
