.@{prefix}-input {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  padding: 4px 12px;
  color: var(--fog-color);
  font-size: 14px;
  line-height: 22px;
  border: 1px solid var(--fog-border-color);
  border-radius: 2px;
  background-color: var(--fog-background-color-input);
  transform: all 0.3s;
  outline: none;

  &:hover {
    border-color: var(--fog-primary-color-hover);
  }

  &:focus {
    border-color: var(--fog-primary-color);
  }

  &[disabled] {
    color: var(--fog-color-disabled);
    border-color: var(--fog-border-color);
    background-color: var(--fog-background-color-input-disabled);
    cursor: not-allowed;
  }
}
