.@{prefix}-breadcrumb__item {
  display: inline-block;
  color: var(--fog-color-preset);
  transition: color 0.3s;

  &--interactive {
    cursor: pointer;
  }

  &--interactive:hover {
    color: var(--fog-color);
  }

  &:last-child {
    color: var(--fog-color);
  }

  .@{prefix}-icon {
    vertical-align: -0.14em;
  }

  .@{prefix}-icon + * {
    margin-left: 4px;
  }

  * + .@{prefix}-icon {
    margin-left: 4px;
  }
}
