.@{prefix}-breadcrumb__item {
  display: inline-block;
  color: var(--fog-color-preset);
  font-size: 14px;
  line-height: 22px;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--fog-color);
  }

  &:last-child {
    color: var(--fog-color);
  }

  .@{prefix}-icon {
    vertical-align: -0.14em;
  }

  .@{prefix}-icon + * {
    margin-left: 4px;
  }

  * + .@{prefix}-icon {
    margin-left: 4px;
  }
}
