.@{prefix}-selection {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  position: relative;
  cursor: pointer;

  &__input-wrapper {
    padding-left: 0;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  &__content &__input-cursor {
    padding-left: 0;
    padding-right: 0;
    width: 2px;
    flex-grow: 0;
    margin-left: 12px;
  }

  &__tag {
    margin: 2px;
    cursor: default;
  }

  &__tag:first-child {
    margin-left: 6px;
  }

  &__tag + &__input-cursor {
    margin-left: 2px;
  }

  &__placeholder {
    position: absolute;
    top: 4px;
    left: 12px;
    color: var(--fog-placeholder-color);
    font-size: 14px;
    line-height: 22px;
  }
}
