.@{prefix}-switch {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 22px;
  border-radius: 11px;
  background-color: var(--fog-internal-color);
  cursor: pointer;

  &__inner {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: var(--fog-contrast-color);
    transition: all 0.3s;
  }

  &--checked {
    background-color: var(--fog-primary-color);
  }

  &--checked &__inner {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  &--disabled {
    background-color: var(--fog-internal-color-disabled);
    cursor: not-allowed;
  }

  &--disabled&--checked {
    background-color: var(--fog-primary-color-disabled);
  }

  &--disabled &__inner {
    background-color: var(--fog-contrast-color-disabled);
  }
}
