.@{prefix}-demo {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  border: 1px solid var(--fog-border-color);
  border-radius: 2px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__options {
    display: flex;
    font-size: 14px;
    font-weight: normal;
  }

  &__options .@{prefix}-icon {
    padding: 4px;
    user-select: none;
    cursor: pointer;
  }

  &__description {
    padding: 0 20px;
  }

  &__content {
    padding: 0 20px 20px;
  }

  &__code-wrapper {
    overflow: hidden;
    transition: height 0.3s;
  }

  &__code {
    margin: 0;
    line-height: 18px;
    border-radius: 2px;
    border-top: 1px solid var(--fog-border-color);
    transition: all 0.3s;
  }
}
