.@{prefix}-range-picker {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  display: block;

  .@{prefix}-input-wrapper {
    width: 300px;
  }

  &__input {
    background-color: var(--fog-transparent) !important;
    transition: 0.3s;
  }

  &__input--focused {}

  &__input--picking {
    color: var(--fog-placeholder-color) !important;
  }

  &__clear {
    color: var(--fog-internal-color);
    cursor: pointer;

    &:hover {
      color: var(--fog-internal-color-hover);
    }
  }

  &__popup {
    width: 600px;
    display: flex;
    align-items: flex-start;
  }

  &__panel {
    width: 50%;
  }

  &__connector {
    padding: 0 8px;
  }

  &__popup--before-enter {
    transform: scaleY(0);
    opacity: 0;
  }

  &__popup--entering {
    transform: scaleY(1);
    opacity: 1;
  }

  &__popup--entered {
    transform: scaleY(1);
    opacity: 1;
  }

  &__popup--leaving {
    transform: scaleY(0);
    opacity: 0;
  }
}
