.@{prefix}-trigger {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  &__popup {

    &,
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    position: absolute;
    z-index: 10;
    box-shadow: 0 0 4px var(--fog-shadow-color);
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;

    &--before-enter {
      transform: scale(0);
      opacity: 0;
    }

    &--entering {
      transform: scale(1);
      opacity: 1;
    }

    &--entered {
      transform: scale(1);
      opacity: 1;
    }

    &--leaving {
      transform: scale(0);
      opacity: 0;
    }

    &-hot {
      position: absolute;
      content: '';
    }

    &-arrow {
      position: absolute;
      width: 8px;
      height: 8px;
      box-shadow: 0 0 4px var(--fog-shadow-color);
      background-color: var(--fog-panel-color);
      transform: rotate(45deg);
      transition: all 0.3s;
    }

    &-content {
      position: relative;
      border-radius: 2px;
      background-color: var(--fog-panel-color);
      overflow: hidden;
      transition: all 0.3s;
    }
  }
}
