.@{prefix}-select-option {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 24px;
  transition: all 0.3s;
  user-select: none;
  cursor: pointer;

  &--active {
    color: var(--fog-primary-color);
    background-color: var(--fog-panel-color-active);
  }

  &--picking {
    background-color: var(--fog-panel-color-active);
  }

  &--disabled {
    color: var(--fog-color-disabled);
    cursor: not-allowed;
  }

  &__content {
    margin-right: auto;
  }
}
