.@{prefix}-date-picker {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  display: inline-block;

  &--open &__input {
    border-color: var(--fog-primary-color);
  }

  &__popup--before-enter {
    transform: scaleY(0);
    opacity: 0;
  }

  &__popup--entering {
    transform: scaleY(1);
    opacity: 1;
  }

  &__popup--entered {
    transform: scaleY(1);
    opacity: 1;
  }

  &__popup--leaving {
    transform: scaleY(0);
    opacity: 0;
  }
}
