body {
  margin: 0;
}

.app {

  &,
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  color: var(--fog-color);
  font-size: 14px;

  a {
    text-decoration: none;
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 64px;
    background-color: var(--fog-background-color);
    border-bottom: 1px solid var(--fog-border-color);
    transition: all 0.3s;

    a {
      color: var(--fog-color);
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      line-height: 40px;
      margin-right: auto;
    }

    &-themes {
      display: flex;
      align-items: center;
      margin-right: 20px;

      span {
        margin-right: 6px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-themes-select {
      width: 110px;

      .@{prefix}-input-wrapper {
        border-color: var(--fog-transparent);
        background-color: var(--fog-transparent);
      }
    }

    &-darkness {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    &-darkname {
      margin-right: 6px;
    }

    &-github {
      line-height: 0;
    }
  }

  &__body {
    display: flex;
    padding-top: 64px;
  }

  &__sidebar {
    padding: 20px 0;
    flex-shrink: 0;
    min-height: calc(100vh - 64px);
    border-right: 1px solid var(--fog-border-color);
  }

  &__content {
    flex-grow: 1;
    padding: 10px 20px 30px;
    overflow-x: auto;

    .fog-demo {
      margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
    }
  }

  &__drawer-trigger {
    padding: 4px;
    font-size: 0;
  }

  &__fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
}
